<input type="hidden"
       name="authenticity_token"
       value="<%= form_authenticity_token %>">

<label>Title<br>
  <input type="text" name="post[title]" value="<%= @post.title %>">
</label>
<br>

<label>URL<br>
  <input type="text" name="post[url]" value="<%= @post.url %>">
</label>
<br>

<label>Content<br>
  <textarea name="post[content]"><%= @post.content %></textarea>
</label>
<br>
